@import "../../static/scss/mixins";

.section {
  margin-bottom: 128px;
}

.sectionTitle {
  @include my-font-styles(#1a1a1a, 1.2, 32px, 400);
  margin: 0 auto 22px auto;
  text-align: center;
  width: 580px;
}

.sectionTitleSpan {
  font-weight: 700;
}

.sectionDescription {
  @include my-font-styles(#7e7e7e, 1.42, 20px, 400);
  margin: 0 auto 40px auto;
  width: 780px;
  text-align: center;
}

.sectionList {
  display: flex;
  justify-content: space-between;
}