@import "../../../static/scss/mixins";

.footer {
  height: 100%;
}

.copyright {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrightItem {
  @include my-font-styles(#fff, 1.2, 16px, 400);
}