@import "../wrappers.variables";

.wrapper {
  background-image: url("../../../static/images/header-main/header-main-bg@1x.png");
  height: 655px;
  @extend %wrapper-background;
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url("../../../static/images/header-main/header-main-bg@2x.png");
  }
}